---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
import MeetEdyta from "../components/MeetEdyta.astro";
import Service from "../components/Service.astro";
---

<Layout title="booking">
  <main>
    <Form/>
    <Service/>
    <MeetEdyta />

  </main>
</Layout>
