---
import Layout from "../layouts/Layout.astro";
import Form from "../components/Form.astro";
import MeetEdyta from "../components/MeetEdyta.astro";
import Service from "../components/Service.astro";
import Instagram from "../components/Instagram.astro";
---

<Layout title="booking">
  <main>
    <Form/>
    <!-- <MeetEdyta /> -->
    <Service/>
    <Instagram/>

  </main>
</Layout>
