---
import Layout from "../layouts/Layout.astro";
import Fotokategorier from "../components/Fotokategorier.astro";

const data = await fetch(
  "https://nizfrlmeuslmzbvoilai.supabase.co/rest/v1/edytasorensen_data",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5pemZybG1ldXNsbXpidm9pbGFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzMxNzM2MDAsImV4cCI6MjA0ODc0OTYwMH0.RQ3OCApyz7TpKmzgRC189LxU9mOzQLPHTIxEIIeFO2Y",
    },
  }
).then((res) => res.json());
---

<Layout title="galleri">
  <!-- top - headline + p -->
  <section class="text-center max-w-4xl mx-auto px-6">
    <h2 class="text-5xl font-bold mb-6">Vælg din fotosession</h2>
    <p class="text-lg mb-12">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, dolorum
      natus quod sapiente saepe accusamus ipsam. Ex quam dolor, tenetur nisi,
      corporis consequatur illo ullam hic minima quibusdam, praesentium
      perferendis?
    </p>
  </section>

  <!-- Grid for kategorier -->
  <div class="grid md:grid-cols-2 lg:grid-cols-4">
    <!-- Graviditet -->
    <a href="/graviditet" class="group relative block overflow-hidden">
      <img
        src="/images/graviditet.jpg"
        alt="Graviditetsfotografering"
        class="w-full h-80 object-cover"
      />
      <div
        class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center opacity-0"
      >
      </div>
    </a>

    <!-- Familie -->
    <a href="/familie" class="group relative block overflow-hidden">
      <img
        src="/images/familie.jpg"
        alt="Familiefotografering"
        class="w-full h-80 object-cover"
      />
      <div
        class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center opacity-0"
      >
      </div>
    </a>

    <!-- Børn -->
    <a href="/boern" class="group relative block overflow-hidden">
      <img
        src="/images/boern.jpg"
        alt="Børnefotografering"
        class="w-full h-80 object-cover"
      />
      <div
        class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center opacity-0"
      >
      </div>
    </a>

    <!-- Portræt -->
    <a href="/portraet" class="group relative block overflow-hidden">
      <img
        src="/images/portraet.jpg"
        alt="Portrætfotografering"
        class="w-full h-80 object-cover"
      />
      <div
        class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center opacity-0"
      >
      </div>
    </a>
  </div>

  <section class="kategorier">
    {
      data.map((kategori) => {
        return <Fotokategorier data={kategori} />;
      })
    }
  </section>
</Layout>
