---
import Layout from "../layouts/Layout.astro";
import Fotokategorier from "../components/Fotokategorier.astro";

const data = await fetch(
  "https://nizfrlmeuslmzbvoilai.supabase.co/rest/v1/edytasorensen_data",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5pemZybG1ldXNsbXpidm9pbGFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzMxNzM2MDAsImV4cCI6MjA0ODc0OTYwMH0.RQ3OCApyz7TpKmzgRC189LxU9mOzQLPHTIxEIIeFO2Y",
    },
  }
).then((res) => res.json());
---

<Layout title="galleri">
  <!-- top - headline + px2 -->
  <section class="max-w-3xl mt-12 px-4 sm:px-6 lg:px-8">
    <h2 class="text-4xl font-medium font-playfair uppercase mb-20 text-custom-black">
      Find den fotosession, <span class="block">der passer dig</span>   </h2>
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-y-4 gap-x-16">
      <!-- Første P-sektion -->
      <p class="text-sm mb-0 font-light font-oxygen text-custom-black mx-auto leading-6">
        Jeg har været fotograf siden 1990 og har arbejdet i både Polen og Kina. Med fokus på detaljer skaber jeg billeder, der vækker følelser og fortæller din historie. I mit hyggelige fotostudie i Vanløse har jeg rekvisitter og baggrunde, der skaber unikke og personlige billeder.      </p>
      
      <!-- Anden P-sektion -->
      <p class="text-sm mb-0 font-light font-oxygen text-custom-black mx-auto leading-6">
        Ønsker du et klassisk portrætbillede til dit CV eller en hyggelig familiefotosession? Jeg tilbyder både i mit fotostudie i Vanløse eller på en location, der har betydning for dig. Sammen skaber vi billeder, der fanger dine værdier og dine unikke øjeblikke.
      </p>
    </div>
  </section>
  
  <section class="grid grid-cols-2 md:grid-cols-4 mt-14 sm:mt-18 md:mt-28"> <!-- skal col 3 slettes?? se når der kommer billede på -->
    {
      data.map((kategori) => {
        return <Fotokategorier data={kategori} />;
      })
    }
  </section>
</Layout>
