---
import Layout from "../layouts/Layout.astro";
import MeetEdyta from "../components/MeetEdyta.astro";
import Service from "../components/Service.astro";

import Anmeldelser from "../components/Anmeldelser.astro";
import Instagram from "../components/Instagram.astro";

---

<Layout title="Home">
  <main>
    <!-- Banner med roterende baggrundsbilleder -->
    <div class="w-full mx-auto px-[20px] max-w-[1800px]">
      <section class="relative h-[700px] sm:h-[500px] md:h-[600px] lg:h-[700px] bg-cover bg-center animate-banner">
        <div class="absolute inset-x-0 bottom-12 left-0 flex px-8">
          <div class="text-white">
            <h1 class="text-3xl sm:text-5xl lg:text-7xl uppercase font-playfair font-light mb-8">
              Edyta Sørensen
            </h1>
            <h2 class="text-2xl sm:text-2xl md:text-3xl lg:text-4xl font-playfair uppercase font-light mt-[-30px]">
              Fotograf siden 1990
            </h2>
          </div>
        </div>
      </section>
    </div>
    
    

    <!-- forside -->

    <div class="mt-24 mb-24">
      <div class="max-w-md px-4 sm:px-6 lg:px-8">
        <h2 class="mb-8 font-playfair font-medium uppercase text-3xl text-custom-black">
          Når øjeblikket tæller, skal billedet gøre det samme
        </h2>
        <p class="text-custom-black font-oxygen font-light mb-12">
          Jeg fanger de øjeblikke, der betyder mest – fra babyer og børn til
          portrætter. Uanset om det er en familiefotograf, en graviditetsession
          eller et erhvervsbillede, tilbyder jeg en personlig og professionel
          oplevelse, der skaber smukke minder for livet.
        </p>
      </div>

      <div
        class="flex overflow-x-auto gap-8 sm:gap-20 sm:justify-center sm:items-center"
      >
        <img
          src="images/web_bag3.webp"
          alt="Image 1"
          class="w-60 h-80 object-cover flex-shrink-0"
        />
        <img
          src="images/web_bag3.webp"
          alt="Image 2"
          class="w-72 h-96 object-cover flex-shrink-0"
        />
        <img
          src="images/web_bag3.webp"
          alt="Image 3"
          class="w-60 h-80 object-cover flex-shrink-0"
        />
      </div>

      <div class="flex justify-center gap-4 mt-20">
        <!-- Første knap: gennemsigtig baggrund med brun border -->
        <a
          href="/fotografering"
          class="px-6 py-3 border-[1px] border-custom-black bg-transparent font-light text-custom-black font-playfair uppercase transition duration-200 ease-in-out hover:bg-custom-black hover:text-white"
        >
          Se portefølje
        </a>

        <!-- Anden knap: brun baggrund med hvid tekst -->
        <a
          href="/booking"
          class="px-6 py-3 bg-custom-black text-white font-playfair uppercase font-light transition duration-200 ease-in-out hover:bg-transparent hover:border-[1px] hover:border-custom-black hover:text-custom-black"
        >
          Kontakt for booking
        </a>
      </div>
    </div>

    
    
  </main>

  <MeetEdyta />
  <Service/>
  <Anmeldelser />
  <Instagram/>
</Layout>

<style>
  @keyframes bannerImageRotation {
    0% {
      background-image: url("images/bag1.webp");
    }
    33% {
      background-image: url("images/bag2.webp");
    }
    66% {
      background-image: url("images/web_bag3.webp");
    }
    100% {
      background-image: url("images/bag4.webp");
    }
  }

  .animate-banner {
    animation: bannerImageRotation 15s infinite ease-in-out;
  }
</style>
