---
import Layout from "../layouts/Layout.astro";
import Service from "../components/Service.astro";


---

<Layout title="Oplevelsen hos Edyta Sørensen">
 <h1 class="text-4xl font-medium font-playfair uppercase mb-20 text-custom-black">Trinene bag dine unikke billeder</h1>
          <Service/>
 
</Layout>
