---


import Layout from "../layouts/Layout.astro";
import Prisliste from "../components/Prisliste.astro";
import Instagram from "../components/Instagram.astro";


---

<Layout title="pris">
  <main>
    <section class="max-w-3xl mt-12 mb-20 px-4 sm:px-6 lg:px-8">
      <h2 class="text-4xl font-medium font-playfair uppercase mb-20 text-custom-black">
        Priser</h2>
      <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-y-4 gap-x-16">
        <!-- Første P-sektion -->
        <p class="text-sm mb-0 font-light font-oxygen text-custom-black mx-auto leading-6">
          Når du booker en fotosession hos mig, betaler du for selve oplevelsen – prisen for fotosessionen dækker tiden og forberedelsen til din fotografering samt en fremvisning af dine billeder i mit studie. Billederne købes separat, så du har frihed til at vælge præcis de produkter og formater, der passer til dine ønsker.
        
        <!-- Anden P-sektion -->
        <p class="text-sm mb-0 font-light font-oxygen text-custom-black mx-auto leading-6">
          Denne opdeling sikrer, at du kun betaler for de billeder og produkter, du virkelig ønsker, og giver dig fleksibilitet til at skræddersy din oplevelse. Hvis du har spørgsmål eller ønsker hjælp til at forstå priserne, er du altid velkommen til at kontakte mig – jeg står klar til at hjælpe.        </p>
      </div>
    </section>
   <Prisliste>


  </main>

<Instagram/>
</Layout>
