<div>
  <div class="py-12 mt-8 sm:mt-12 mb-6 sm:mb-12">
    <!-- overskrift -->
     <div class="px-4 sm:px-8">
    <h2 class="text-3xl mb-4 font-playfair font-medium uppercase">
      Tak for jeres feedback
    </h2>

    <!-- brødtekst -->
    <p class="text-sm font-oxygen font-light mb-8 max-w-md leading-6">
      Jeg er dybt taknemmelig for alle de varme ord og anmeldelser fra mine
      kunder. Jeg nyder altid at være en del af jeres vigtigste øjeblikke og er
      glad for at kunne fange dem på billeder, som I vil værne om i mange år
      fremover.
    </p>
  </div>
    <!-- Horisontal scroll container -->
    <div class="flex overflow-x-auto gap-0.5"> <!-- måske gap-2? -->
      <!-- Anmeldelse 1 -->
      <div
        class="flex flex-col items-center bg-custom-black text-white font-oxygen min-w-[300px] sm:min-w-[400px]"
      >
        <!-- Billede -->
        <img
          src="/images/review1.webp"
          alt="Customer 1"
          class="w-full h-48 object-cover mb-4"
        />
        <!-- tekst -->
        <div class="text-sm font-light p-4 mb-6">
          <p class="mb-6 mt-8">Katrine & Michael</p>
          <p class="italic font-extralight">
            Vi er virkelig glade for vores fotosession med Edyta, hvor hun fangede de smukkeste billeder af vores datter, Josefine. Hun havde en utrolig evne til at få Josefine til at føle sig afslappet og tryg foran kameraet, og billederne er bare helt fantastiske. Vi er meget taknemmelige for de minder, hun har skabt for os. 
          </p>
        </div>
      </div>

      <!-- Anmeldelse 2 -->
      <div
        class="flex flex-col items-center bg-custom-black text-white font-oxygen min-w-[300px] sm:min-w-[400px]"
      >
        <!-- Billede -->
        <img
          src="/images/review2.webp"
          alt="Customer 1"
          class="w-full h-48 object-cover mb-4"
        />
        <!-- tekst -->
        <div class="text-sm font-light p-4 mb-6">
          <p class="mb-6 mt-8">Line & Henrik</p>
          <p class="italic font-extralight">
            Edyta var helt fantastisk til vores babyfotograf-session. Hun var så opmærksom på de små detaljer og sørgede for, at vores lille baby var komfortabel under hele sessionen. Billederne er så smukke og autentiske, og vi er så glade for at have disse minder for evigt. 
          </p>
        </div>
      </div>

      <!-- Anmeldelse 3 -->
      <div
        class="flex flex-col items-center bg-custom-black text-white font-oxygen min-w-[300px] sm:min-w-[400px]"
      >
        <!-- Billede -->
        <img
          src="/images/review3.webp"
          alt="Customer 1"
          class="w-full h-48 object-cover mb-4"
        />
        <!-- tekst -->
        <div class="text-sm font-light p-4 mb-6">
          <p class="mb-6 mt-8">Pernille</p>
          <p class="italic font-extralight">
            Edyta gjorde et supert arbejde med billederne til mit yoga studie. Hun fangede præcis den ro og energi, jeg ønskede at vise, og billederne afspejler virkelig min praksis. Jeg er så glad for resultatet og kan varmt anbefale Edyta til andre, der har brug for professionelle billeder.
          </p>
        </div>
      </div>

      <!-- Anmeldelse 4 -->
      <div
        class="flex flex-col items-center bg-custom-black text-white font-oxygen min-w-[300px] sm:min-w-[400px]"
      >
        <!-- Billede -->
        <img
          src="/images/review5.webp"
          alt="Customer 1"
          class="w-full h-48 object-cover mb-4"
        />
        <!-- tekst -->
        <div class="text-sm font-light p-4 mb-6">
          <p class="mb-6 mt-8">Stine</p>
          <p class="italic font-extralight">
            Edyta gjorde vores familie-fotosession til en helt fantastisk
            oplevelse. Hun var utrolig tålmodig med mine piger og fangede de
            smukkeste øjeblikke, vi nu kan mindes for evigt. Vi er simpelthen så
            glade for billederne!
          </p>
        </div>
      </div>

      <!-- Anmeldelse 5 -->
      <div
        class="flex flex-col items-center bg-custom-black text-white font-oxygen min-w-[300px] sm:min-w-[400px]"
      >
        <!-- Billede -->
        <img
          src="/images/review4.webp"
          alt="Customer 1"
          class="w-full h-48 object-cover mb-4"
        />
        <!-- tekst -->
        <div class="text-sm font-light p-4 mb-6">
          <p class="mb-6 mt-8">Mathias & Sofie</p>
          <p class="italic font-extralight">
            Vores familiefotosession med Edyta var en helt særlig oplevelse. Hun formåede at fange de mest ægte og smukke øjeblikke mellem os som familie. Vi er virkelig glade for billederne, som vi kan kigge på og mindes de gode stunder sammen.
          </p>
        </div>
      </div>

      <!-- Anmeldelse 6 -->
      <div
        class="flex flex-col items-center bg-custom-black text-white font-oxygen min-w-[300px] sm:min-w-[400px]"
      >
        <!-- Billede -->
        <img
          src="/images/galkid3.webp"
          alt="Customer 1"
          class="w-full h-48 object-cover mb-4"
        />
        <!-- tekst -->
        <div class="text-sm font-light p-4 mb-6">
          <p class="mb-6 mt-8">Mette & Lars</p>
          <p class="italic font-extralight">
            Edyta gjorde vores børnefotografering til en utrolig positiv oplevelse. Hun havde stor tålmodighed og fik vores børn til at føle sig trygge og glade foran kameraet. Resultatet var simpelthen magisk – billederne er fyldt med varme og sjove øjeblikke, som vi vil værne om for altid.
          </p>
        </div>
      </div>


    </div>
  </div>
</div>
