<div>
  <div class="py-12 mt-8 sm:mt-12 mb-6 sm:mb-12">
    <!-- overskrift -->
     <div class="px-4 sm:px-8">
    <h2 class="text-3xl mb-4 font-playfair font-medium uppercase">
      Tak for jeres feedback
    </h2>

    <!-- brødtekst -->
    <p class="text-sm font-oxygen font-light mb-8 max-w-lg leading-6">
      Jeg er dybt taknemmelig for alle de varme ord og anmeldelser fra mine
      kunder. Jeg nyder altid at være en del af jeres vigtigste øjeblikke og er
      glad for at kunne fange dem på billeder, som I vil værne om i mange år
      fremover.
    </p>
  </div>
    <!-- Horisontal scroll container -->
    <div class="flex overflow-x-auto gap-0.5"> <!-- måske gap-2? -->
      <!-- Anmeldelse 1 -->
      <div
        class="flex flex-col items-center bg-custom-black text-white font-oxygen min-w-[300px] sm:min-w-[400px]"
      >
        <!-- Billede -->
        <img
          src="/images/bannerpris.webp"
          alt="Customer 1"
          class="w-full h-48 object-cover mb-4"
        />
        <!-- Anmeldelse 1 -->
        <div class="text-sm font-light p-4 mb-6">
          <p class="mb-6 mt-8">Thomas og Anja</p>
          <p class="italic font-extralight">
            Edyta gjorde vores familie-fotosession til en helt fantastisk
            oplevelse. Hun var utrolig tålmodig med vores små børn og fangede de
            smukkeste øjeblikke, vi nu kan mindes for evigt. Vi er simpelthen så
            glade for billederne!
          </p>
        </div>
      </div>

      <!-- Anmeldelse 2 -->
      <div
        class="flex flex-col items-center bg-custom-black text-white font-oxygen min-w-[300px] sm:min-w-[400px]"
      >
        <!-- Billede -->
        <img
          src="/images/imagekatbaby.webp"
          alt="Customer 1"
          class="w-full h-48 object-cover mb-4"
        />
        <!-- Anmeldelse 1 -->
        <div class="text-sm font-light p-4 mb-6">
          <p class="mb-6 mt-8">Thomas og Anja</p>
          <p class="italic font-extralight">
            Edyta gjorde vores familie-fotosession til en helt fantastisk
            oplevelse. Hun var utrolig tålmodig med vores små børn og fangede de
            smukkeste øjeblikke, vi nu kan mindes for evigt. Vi er simpelthen så
            glade for billederne!
          </p>
        </div>
      </div>

      <!-- Anmeldelse 3 -->
      <div
        class="flex flex-col items-center bg-custom-black text-white font-oxygen min-w-[300px] sm:min-w-[400px]"
      >
        <!-- Billede -->
        <img
          src="/images/galerhv2.webp"
          alt="Customer 1"
          class="w-full h-48 object-cover mb-4"
        />
        <!-- Anmeldelse 1 -->
        <div class="text-sm font-light p-4 mb-6">
          <p class="mb-6 mt-8">Thomas og Anja</p>
          <p class="italic font-extralight">
            Edyta gjorde vores familie-fotosession til en helt fantastisk
            oplevelse. Hun var utrolig tålmodig med vores små børn og fangede de
            smukkeste øjeblikke, vi nu kan mindes for evigt. Vi er simpelthen så
            glade for billederne!
          </p>
        </div>
      </div>

      <!-- Anmeldelse 4 -->
      <div
        class="flex flex-col items-center bg-custom-black text-white font-oxygen min-w-[300px] sm:min-w-[400px]"
      >
        <!-- Billede -->
        <img
          src="/images/front1fam.webp"
          alt="Customer 1"
          class="w-full h-48 object-cover mb-4"
        />
        <!-- Anmeldelse 1 -->
        <div class="text-sm font-light p-4 mb-6">
          <p class="mb-6 mt-8">Thomas og Anja</p>
          <p class="italic font-extralight">
            Edyta gjorde vores familie-fotosession til en helt fantastisk
            oplevelse. Hun var utrolig tålmodig med vores små børn og fangede de
            smukkeste øjeblikke, vi nu kan mindes for evigt. Vi er simpelthen så
            glade for billederne!
          </p>
        </div>
      </div>

      <!-- Anmeldelse 5 -->
      <div
        class="flex flex-col items-center bg-custom-black text-white font-oxygen min-w-[300px] sm:min-w-[400px]"
      >
        <!-- Billede -->
        <img
          src="/images/galfam.webp"
          alt="Customer 1"
          class="w-full h-48 object-cover mb-4"
        />
        <!-- Anmeldelse 1 -->
        <div class="text-sm font-light p-4 mb-6">
          <p class="mb-6 mt-8">Thomas og Anja</p>
          <p class="italic font-extralight">
            Edyta gjorde vores familie-fotosession til en helt fantastisk
            oplevelse. Hun var utrolig tålmodig med vores små børn og fangede de
            smukkeste øjeblikke, vi nu kan mindes for evigt. Vi er simpelthen så
            glade for billederne!
          </p>
        </div>
      </div>

      <!-- Anmeldelse 6 -->
      <div
        class="flex flex-col items-center bg-custom-black text-white font-oxygen min-w-[300px] sm:min-w-[400px]"
      >
        <!-- Billede -->
        <img
          src="/images/galkid3.webp"
          alt="Customer 1"
          class="w-full h-48 object-cover mb-4"
        />
        <!-- Anmeldelse 1 -->
        <div class="text-sm font-light p-4 mb-6">
          <p class="mb-6 mt-8">Thomas og Anja</p>
          <p class="italic font-extralight">
            Edyta gjorde vores familie-fotosession til en helt fantastisk
            oplevelse. Hun var utrolig tålmodig med vores små børn og fangede de
            smukkeste øjeblikke, vi nu kan mindes for evigt. Vi er simpelthen så
            glade for billederne!
          </p>
        </div>
      </div>


    </div>
  </div>
</div>
