<footer class="text-custom-brown py-12 h-[300px]">
    <div class="max-w-8xl mx-auto px-6 grid grid-cols-1 md:grid-cols-[2fr_1fr_1fr] gap-8 h-full">
      <!-- Venstre sektion -->
      <div class="flex justify-start items-end h-full">
        <h2 class="text-5xl font-playfair uppercase">Edyta sørensen</h2>
      </div>      
  
      <!-- Midterste sektion -->
      <div class="flex flex-col items-center space-y-4 font-light justify-end h-full">
        <a href="#galleri" class="text-base font-oxygen hover:underline">Galleri</a>
        <a href="#kontakt" class="text-base font-oxygen hover:underline">Kontakt</a>
        <a href="#priser" class="text-base font-oxygen hover:underline">Priser</a>
      </div>      
  
      <!-- Højre sektion -->
      <div class="flex justify-end items-end text-right font-light h-full">
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-2">
            <p class="text-base font-oxygen">Edyta sørensen</p>
            <p class="text-base font-oxygen">Jernbane Allé 95, 2720 Vanløse</p>
          </div>
          <div class="flex flex-col gap-2">
            <p class="text-base font-oxygen">hallo@edytasorensen.dk</p>
            <p class="text-base font-oxygen">+45 22643403</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  