<footer class="text-custom-black py-12 h-[300px] mt-16 sm:mt-2">
    <div class="max-w-8xl mx-auto px-6 grid grid-cols-1 md:grid-cols-[2fr_1fr_1fr] gap-8 h-full">
      <!-- Venstre sektion -->
      <div class="flex justify-start items-end h-full text-left">
        <h2 class="text-3xl sm:text-4xl font-playfair font-medium uppercase">Edyta sørensen</h2>
      </div>      
  
      <!-- Midterste sektion -->
      <div class="flex flex-col space-y-4 font-light font-playfair justify-end h-full text-left md:justify-end md:text-right">
        <a href="/fotografering" class="text-base hover:underline">Galleri</a>
        <a href="/priser" class="text-basehover:underline">Priser</a>
        <a href="/booking" class="text-base hover:underline">Kontakt</a>
      </div>      
  
      <!-- Højre sektion -->
      <div class="flex justify-start items-end text-left font-light h-full md:justify-end md:text-right">
        <div class="flex flex-col gap-4">
          <div class="flex flex-col gap-2 text-base font-playfair">
            <p>Edyta sørensen</p>
            <p>Jernbane Allé 95, 2720 Vanløse</p>
          </div>
          <div class="flex flex-col gap-2 text-base font-playfair">
            <p>hallo@edytasorensen.dk</p>
            <p>+45 22643403</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  