<div class="p-1 grid grid-cols-1 md:grid-cols-[1fr_1.5fr] gap-12 items-start mb-12 sm:mb-20">
  <!-- Billede til venstre -->
  <div class="hidden md:block mr-auto">
    <div class="flex flex-col space-y-1 justify-end">
      <img src="/images/imggridkid3.webp" alt="" class="w-[500px] h-[250px] object-cover" />
      <img src="/images/bag4.webp" alt="" class="w-[500px] h-[250px] object-cover" />
      <img src="/images/bag2.webp" alt="" class="w-[500px] h-[250px] object-cover" />
    </div>
  </div>

  <!-- Form til højre -->
  <div>
    <div class="px-4">
    <h1
      class="text-4xl text-custom-black font-medium mb-8 font-playfair uppercase"
    >
      kontakt
    </h1>

    <p class="text-sm font-oxygen font-light mb-12 max-w-lg leading-6">
      Jeg ser frem til at høre fra dig og hjælpe med at gøre dine fotoønsker til virkelighed. Skriv gerne dine tanker og idéer i bookingformularen, eller send en e-mail til hallo@edytasorensen.dk. Jeg bestræber mig på at svare dig inden for 1-3 hverdage.    </p>
  </div>

    <form class="max-w-md px-4">
      <!-- navn -->
      <label for="name" class="block text-sm font-medium text-custom-black font-playfair uppercase">Navn*</label>
      <input
        type="text"
        name="name"
        required
        class="p-2 block w-full border-b border-custom-black focus:ring-blue-500 focus:border-blue-500 bg-transparent rounded-none"
      />

      <!-- e-mail -->
      <label
        for="email"
        class="mt-6 block text-sm font-medium font-playfair uppercase text-custom-black"
        >email*</label
      >
      <input
        type="text"
        name="email"
        required
        class="block w-full p-2 border-b border-custom-black focus:ring-blue-500 focus:border-blue-500 bg-transparent rounded-none"
      />

      <!-- radiobuttons -->

      <fieldset>
        <legend class="mt-6 block text-sm font-medium font-playfair uppercase"
          >Vælg fotograferingstype*</legend
        >

        <div class="mt-4 space-y-3">
          <label class="block ml-2 text-sm text-custom-black font-normal font-playfair">
            <input
              type="radio"
              name="photographyType"
              value="Børnefotografering"
              required
              class="h-4 w-4 text-blue-600 focus:ring-blue-500 bg-transparent"
            />
            Børnefotografering
          </label>
          <label class="block ml-2 text-sm text-custom-black font-normal font-playfair">
            <input
              type="radio"
              name="photographyType"
              value="Familiefotografering"
              required
              class="h-4 w-4 text-blue-600 focus:ring-blue-500 bg-transparent"
            />
            Familiefotografering
          </label>
          <label class="block ml-2 text-sm text-custom-black font-normal font-playfair">
            <input
              type="radio"
              name="photographyType"
              value="Babyfotografering"
              required
              class="h-4 w-4 text-blue-600 focus:ring-blue-500 bg-transparent"
            />
            Babyfotografering
          </label>
          <label class="block ml-2 text-sm text-custom-black font-normal font-playfair">
            <input
              type="radio"
              name="photographyType"
              value="Portrætbilleder"
              required
              class="h-4 w-4 text-blue-600 focus:ring-blue-500 bg-transparent"
            />
            Portrætbilleder
          </label>
          <label class="block ml-2 text-sm text-custom-black font-normal font-playfair">
            <input
              type="radio"
              name="photographyType"
              value="Portrætbilleder"
              required
              class="h-4 w-4 text-blue-600 focus:ring-blue-500 bg-transparent"
            />
            Andet
          </label>
        </div>
      </fieldset>

      <!-- kommentare -->

      <label
        for="comments"
        class="block mt-6 text-sm font-medium text-custom-black font-playfair uppercase"
      >
        Ønske til dato, lokation og stemning
      </label>
      <textarea
        name="comments"
        id="comments"
        rows="4"
        class="mt-1 mb-6 block w-full p-2 border-b border-custom-black focus:ring-blue-500 focus:border-blue-500 bg-transparent font-playfair text-sm font-light rounded-none"
      >
      </textarea>

      <!-- knap, send til database -->

      <button
        class="w-full py-2 px-4 bg-custom-black text-white font-light font-playfair uppercase hover:bg-transparent hover:border-[1px] hover:text-custom-black hover:border-custom-black"
        >SEND FORESPØRGSEL</button
      >
    </form>
  </div>
</div>


<script>
  const url =
    "https://nizfrlmeuslmzbvoilai.supabase.co/rest/v1/contact_request";
  const key =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5pemZybG1ldXNsbXpidm9pbGFpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzMxNzM2MDAsImV4cCI6MjA0ODc0OTYwMH0.RQ3OCApyz7TpKmzgRC189LxU9mOzQLPHTIxEIIeFO2Y";

  const form = document.querySelector("form");
  form.addEventListener("submit", sendForm);

  function sendForm(event) {
    event.preventDefault();
    const formData = form.elements;
    let name = formData.name.value;
    let email = formData.email.value;
    let comments = formData.comments.value;
    let photographyType = formData.photographyType.value;

    fetch(url, {
      method: "POST",
      headers: {
        apikey: key,
        Accecpt: "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ name, email, comments, photographyType }),
    })
      .then(() => {
        form.reset(); // Reset form efter "send"
      })
      .catch((error) => {
        console.error("Error:", error); // errors
      });
  }
</script>
