---
const { data } = Astro.props;
---

<a href={`/galleri/${data.slug}`}>
    <article class="">
        <h2 class="text-base font-oxygen text-custom-brown uppercase my-4">{data.name}</h2>
        <img src="" alt="">
    </article>
</a>
