---
const { data } = Astro.props;
---

<a href={`/galleri/${data.slug}`}>
    <article class="">
        <h2 class="text-base ml-2 font-playfair font-light text-custom-black uppercase my-4 hover:underline">{data.name}</h2>
        <img src={`/images/${data.imagekat}`} alt={data.slug} />
    </article>
</a>
