<div>
  <a href="https://www.instagram.com/fotograf.edyta.sorensen/">
    <div class="py-8">
      <div class="grid grid-cols-4"> <!-- evt gap 1 -->
        <div>
          <img src="/images/ig1.webp" alt="Billede af en lille pige i natur" class="w-full h-auto object-cover" />
        </div>
        <div>
          <img src="/images/ig2.webp" alt="Billede af en familie på en græs mark" class="w-full h-auto object-cover" />
        </div>
        <div>
          <img src="/images/ig3.webp" alt="Familie på graviditetsshoot" class="w-full h-auto object-cover" />
        </div>
        <div>
          <img src="/images/ig4.webp" alt="Portrætbillede af dame" class="w-full h-auto object-cover" />
        </div>
      </div>
    </div>

    <div class="px-4 hover:underline">
      <p class="font-playfair uppercase font-medium text-base">
        Følg med på Instagram
      </p>
      <p class="font-oxygen font-light">@edytasorensen</p>
    </div>
  </a>

 
</div>
