<div>
  <a href="https://www.instagram.com/fotograf.edyta.sorensen/">
    <div class="py-8">
      <div class="grid grid-cols-2 md:grid-cols-4 gap-1">
        <div>
          <img src="/images/ig1.webp" alt="billede 1" class="w-full h-auto object-cover" />
        </div>
        <div>
          <img src="/images/ig2.webp" alt="billede 2" class="w-full h-auto object-cover" />
        </div>
        <div>
          <img src="/images/ig3.webp" alt="billede 3" class="w-full h-auto object-cover" />
        </div>
        <div>
          <img src="/images/ig4.webp" alt="billede 4" class="w-full h-auto object-cover" />
        </div>
      </div>
    </div>
  </a>

  <div class="px-4">
    <p class="font-playfair uppercase font-medium text-base">
      Følg med på Instagram
    </p>
    <p class="font-oxygen font-light">@edytasorensen</p>
  </div>
</div>
