<div class=" py-8">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
      <div>
        <img
          src=""
          alt="billede 1"
          class="w-full h-auto object-cover"
        />
      </div>
      <div>
        <img
          src=""
          alt="billede 2"
          class="w-full h-auto object-cover"
        />
      </div>
      <div>
        <img
          src=""
          alt="billede 3"
          class="w-full h-auto object-cover"
        />
      </div>
      <div>
        <img
          src=""
          alt="billede 4"
          class="w-full h-auto object-cover"
        />
      </div>
    </div>
  </div>
  