<!-- ok for nu, men obs på ipas responsiv -->


<div class="bg-custom-black">
  <div class="flex flex-col md:flex-row items-center">
    <!-- Billede af edyta -->
    <div class="md:w-[55%] w-full mb-6 md:mb-0">
      <img src="/images/edyta3.webp" alt="Edyta Sørensen" class="w-full h-full object-cover">
    </div>

    <!-- Tekstsektionen -->
    <div class="md:w-2/3 w-full text-left mx-auto px-6 md:max-w-lg">
      <h2 class="text-4xl text-white mb-8 font-playfair uppercase">Mød Edyta Sørensen</h2>
      <p class="mb-4 text-sm text-white leading-6 font-oxygen font-light">
        Med over 30 års erfaring i fotografibranchen, både i Kina og Polen, kombinerer jeg teknisk dygtighed med en stor passion for æstetik. Jeg arbejder konstant på at udvikle min stil og teknik, og stræber efter det bedste i hvert billede. Mit studie er mit livsværk, og jeg er stolt af at kunne byde både nye og velkendte kunder velkommen. Jeg glæder mig til at skabe mindeværdige billeder sammen med dig.
      </p>

      <a href="/booking" class="mt-6 mb-6 inline-block px-6 py-3 text-white font-playfair font-light uppercase border-[1px] border-white hover:bg-white hover:text-custom-black">
        Kontakt mig
      </a>
    </div>
  </div>
</div>
