<div class="bg-custom-bannerbg py-12">
    <div class="max-w-6xl mx-auto px-6 flex flex-col md:flex-row items-center">
      <!-- Billede af edyta -->
      <div class="md:w-1/2 w-full mb-6 md:mb-0">
        <img src="" alt="Edyta Sørensen" class="rounded-lg shadow-lg w-full">
      </div>
  
      <!-- Tekstsektionen -->
      <div class="md:w-1/2 w-full md:pl-14 text-center md:text-left">
        <h2 class="text-4xl text-custom-brown mb-8 font-playfair uppercase">Mød Edyta Sørensen</h2>
        <p class="mb-4 text-base text-custom-brown leading-relaxed font-oxygen font-light"> Med 28 års erfaring i fotografibranchen, både i Kina og Polen, kombinerer jeg teknisk dygtighed med en stor passion for æstetik. Jeg arbejder konstant på at udvikle min stil og teknik, og stræber efter det bedste i hvert billede. Mit studie er mit livsværk, og jeg er stolt af at kunne byde både nye og velkendte kunder velkommen. Jeg glæder mig til at skabe mindeværdige billeder sammen med dig.
        </p>
    
        <a href="#kontakt" class="mt-6 rounded inline-block px-6 py-3 bg-custom-brown text-white font-oxygen font-regular hover:bg-transparent hover:border-[1px] hover:text-custom-brown hover:border-custom-brown">
          Kontakt mig
        </a>
      </div>
    </div>
  </div>
  