---
// Nav.astro
---
<nav class="text-custom-black p-4 font-oxygen font-light">
    <div class="flex justify-end">
      <ul class="flex space-x-8">
        <li><a href="/" class="hover:underline">Home</a></li>
        <li><a href="/booking" class="hover:underline">Booking</a></li>
        <li><a href="/fotografering" class="hover:underline">Galleri</a></li>
        <li><a href="/oplevelsen" class="hover:underline">Oplevelsen</a></li>
        <li><a href="/priser" class="hover:underline">Priser</a></li>
      </ul>
    </div>
  </nav>