---
// Nav.astro
---
<nav class="text-custom-brown p-4">
    <div class="flex justify-end">
      <ul class="flex space-x-8">
        <li><a href="/" class="hover:text-custom-pink">Home</a></li>
        <li><a href="/booking" class="hover:text-custom-pink">Booking</a></li>
        <li><a href="/fotografering" class="hover:text-custom-pink">Galleri</a></li>
        <li><a href="/priser" class="hover:text-custom-pink">Priser</a></li>
      </ul>
    </div>
  </nav>