---
// Nav.astro
---
<nav class="text-black p-4">
    <div class="flex justify-end">
      <ul class="flex space-x-8">
        <li><a href="/" class="hover:text-yellow-400">Home</a></li>
        <li><a href="/booking" class="hover:text-yellow-400">Booking</a></li>
        <li><a href="/galleri" class="hover:text-yellow-400">Galleri</a></li>
        <li><a href="/priser" class="hover:text-yellow-400">Priser</a></li>
      </ul>
    </div>
  </nav>