<div class="mt-12 sm:mt-20">
  <div class="px-4 sm:px-8 mb-8 sm:mb-16">
  <h1 class="text-3xl mb-4 font-playfair font-medium uppercase">Fra idé til færdige billeder</h1>
  <p class="text-sm font-oxygen font-light mb-8 max-w-lg">Jeg guider dig gennem hele processen – fra vores første kontakt til leveringen af smukke, redigerede billeder. Her kan du få et overblik over, hvordan vi sammen skaber unikke og personlige fotografier, der fanger dine mest dyrebare øjeblikke.
  </p>
</div>

 <div class="max-w-5xl grid grid-cols-1 md:grid-cols-2 border-custom-black">
  <!-- Step 1 -->
    <div class="border-b border-custom-black md:border-r p-4 sm:p-8 space-y-4">
      <h3 class="text-base font-medium font-playfair uppercase">Step 1</h3>
      <h4 class="text-base font-light font-playfair uppercase">Kontakt og Booking</h4>
      <p class="text-sm text-custom-black font-light max-w-80">
        Når du kontakter mig, starter vi med en dialog om dine ønsker. Sammen planlægger vi fotosessionen – i mit studie i Vanløse eller på en lokation.       </p>
    </div>
  
    <!-- Step 2 -->
    <div class="border-b border-custom-black p-4 sm:p-8 space-y-4">
      <h3 class="text-base font-medium font-playfair uppercase">Step 2</h3>
      <h4 class="text-base font-light font-playfair uppercase">Fotografering</h4>
      <p class="text-sm text-custom-black font-light max-w-80">
        Selve fotograferingen er en afslappet og kreativ oplevelse. Med fokus på detaljer og æstetik skaber vi autentiske billeder, der fortæller din historie.      </p>
    </div>
  
    <!-- Step 3 -->
    <div class="border-b border-custom-black md:border-r p-4 sm:p-8 space-y-4">
      <h3 class="text-base font-medium font-playfair uppercase">Step 3</h3>
      <h4 class="text-base font-light font-playfair uppercase">Udvælgelse af Billeder</h4>
      <p class="text-sm text-custom-black font-light max-w-80">
        Efter fotosessionen gennemgår vi billederne sammen, så du kan vælge dine favoritter. Jeg guider dig i udvælgelsen, så du får billeder, der afspejler din unikke historie.      </p>
    </div>
  
    <!-- Step 4 -->
    <div class="border-b border-custom-black p-4 sm:p-8 space-y-4">
      <h3 class="text-base font-medium font-playfair uppercase">Step 4</h3>
      <h4 class="text-base font-light font-playfair uppercase">Redigering</h4>
      <p class="text-sm text-custom-black font-light max-w-80">
        Jeg redigerer dine valgte billeder med fokus på lys, farver og detaljer, så hvert billede fremstår naturligt og autentisk.      </p>
    </div>
  
    <!-- Step 5 -->
    <div class=" border-custom-black md:border-r p-4 sm:p-8 space-y-4">
      <h3 class="text-base font-medium font-playfair uppercase">Step 5</h3>
      <h4 class="text-base font-light font-playfair uppercase">Levering</h4>
      <p class="text-sm text-custom-black font-light max-w-80">
        Når billederne er redigeret, leverer jeg dem i det format, du har valgt. Som en del af oplevelsen tilbyder jeg en kort præsentationsvideo ved afhentning, der giver en personlig og mindeværdig afslutning. Leveringstiden er op til 5 uger.      </p>
    </div>
  
  </div>
  </div>
  
