---
import Nav from "../components/Nav.astro";

---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Edyta Sørensen">
    <!-- insæt google font 'old standard tt' -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <title>Edyta Sørensen</title>
  </head>

  <body class="bg-custom-bg">
    <Nav />

    
    <main>
      <slot />
      <!-- slot er alt indhold fra pages -->
    

    </main>



  </body>
</html>
